In [17]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
purchasesFeb22_data = pd.read_csv("example_feb_2022_random_online_digital_game_purchases.csv")
purchasesFeb22_data.head()

,date,time,account_id,purchase,price,version,reg_postcode,longitude,latitude,bank_no,bank_name,played_in_24_hours,played_in_48_hours
0,2022-02-25,10:03:33,57202,Cyberpunk 2077,39.99,digital,HR9 7DY,51.915109,-2.582634,80050,THE CO-OPERATIVE BANK PLC,0,1
1,2022-02-07,21:39:25,77914,Cyberpunk 2077,39.99,digital,WA14 1FR,53.385814,-2.338498,80050,THE CO-OPERATIVE BANK PLC,1,1
2,2022-02-02,19:48:41,79814,Cyberpunk 2077,39.99,digital,BA2 8HU,51.311550,-2.424395,80050,THE CO-OPERATIVE BANK PLC,1,1
3,2022-02-20,11:08:47,82035,Cyberpunk 2077,39.99,digital,CM4 9DB,51.663959,0.437142,80050,THE CO-OPERATIVE BANK PLC,0,1
4,2022-02-04,08:07:32,24315,Cyberpunk 2077,39.99,digital,B70 6EA,52.508082,-1.989554,80050,THE CO-OPERATIVE BANK PLC,0,1

In [8]:
purchasesFeb22_data.dtypes

date                   object
time                   object
account_id              int64
purchase               object
price                 float64
version                object
reg_postcode           object
longitude             float64
latitude              float64
bank_no                 int64
bank_name              object
played_in_24_hours      int64
played_in_48_hours      int64
dtype: object

In [13]:
purchasesFeb22_data['date']
purchasesFeb22_data['price']

0         Cyberpunk 2077
1         Cyberpunk 2077
2         Cyberpunk 2077
3         Cyberpunk 2077
4         Cyberpunk 2077
              ...
42888    Ghostrunner PS5
42889    Ghostrunner PS5
42890    Ghostrunner PS5
42891    Ghostrunner PS5
42892    Ghostrunner PS5
Name: purchase, Length: 42893, dtype: object